langchain
langchain-core
langchain-openai
langgraph
openai
Pillow
opencv-python
easyocr
numpy
omegaconf
python-dotenv
clearml
typing-extensions
pydantic
ultralytics
hydra-core
pdf2image
faiss-cpu
sentence-transformers